    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Past</h2>
                <p>
                    In 1746, Benjamin Franklin discovered electricity. <br/>
                    In 1812, Charles Babbage invented the first computer.  <br/>
                    In 1990, Tim Berners-Lee invented the World Wide Web.
                 </p>
                <h2>Future</h2>
                <p>
                    The amazing future is coming, yes, they are great.   <br/>
                    But a question is left unanswered ... <br/>
                    <br/>
                    What is a truely meaningful <i>great thing</i> for human to accommplish,
                    <br/>
                    spending a lifetime?
                </p>
            </div>
        </div>
    </section>
